coverage/
mock/
test-db/
tmp/
node_modules/
*.pyc
__pycache__
.pytest_cache
*.egg-info
.DS_Store
.coverage
coverage.xml
build
*.egg
dist/
.vscode
node_binaries/
esbuild_binaries/
docs/build/
docs/node_modules/
docs/public/
docs/.env
docs/.env.local
LLM_CONTEXT