name: Wharfie CI

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']

env:
  WHARFIE_REGION: us-west-2
  WHARFIE_DEPLOYMENT_NAME: wharfie-testing
  WHARFIE_ARTIFACT_BUCKET: utility-079185815456-us-west-2

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Read Node version from package.json
        id: node_version
        run: echo "version=$(jq -r '.engines.node' package.json)" >> $GITHUB_OUTPUT
      - name: Use Node.js ${{ steps.node_version.outputs.version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ steps.node_version.outputs.version }}
          cache: 'npm'
      - run: npm ci
      - run: npm run lint
      - run: npm run test
        env:
          WHARFIE_ARTIFACT_BUCKET: service-bucket
      - run: npm run typecheck
      - name: test build
        run: ./build.js --platform linux --arch x64 && ./dist/wharfie-linux-x64 --help
